body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.header {
    background-color: #f7f5f5;
    height: 15vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1170px;
    width:90%;
    margin: 0 auto;
}
.btn {
    width: 120px;
    text-align: center;
    padding: 0.6rem 0;
    border: 2px solid #019ee5;
    border-radius: 1.5rem;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    color: #019ee5;
    
}
.btn:hover {
    color: #fff;
    background-color: #019ee5;
    transition: all 0.8s ease;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}
.logo {
    max-width: 100%;
    height: 50px;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation__phone {
    margin-right: 60px;
    font-size: 0.9rem;
    color: #9d9d9d;
    font-weight: 600;
}
.navigation__phone:hover {
    transform: translateY(-3px);
    transition: all 0.4s ease;
}

/*section greeting*/
.greeting {
    height: 85vh;
    background: url('../img/greeting-logo.jpg') no-repeat center top / cover;
    display: flex;
    align-items: center;
}
.greeting__content {
    margin: 0 auto;
    text-align: center;
}
.greeting__title {
    text-transform: uppercase;
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    margin-right: 250px;
    text-shadow: 1px 1px 2px #000;
}
.greeting span {
    color: #019ee5;
    font-size: 70px;
    text-transform: uppercase;
}
.greeting p {
    color: #fff;
    font-size: 70px;
    margin-top: 100px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;;
}
/* section about*/

.about {
    padding: 50px 0;
}
.about__wrapper {
    display: flex;
    position: relative;
}
.about__image {
    background: url('../img/about-logo2.jpg') no-repeat center top / cover;
    width: 55%;
    height: 700px;

}
.inner {
    width: 45%;
    background-color: #f7f5f5;
}
.inner__content {
    width: 550px;
    height: 550px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 75px;
    margin-top: 75px;
    background-color: #fff;
}
.inner__title {
    text-align: center;
    font-size: 43px;
    margin-top: 21%;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Open sans';
}
}